<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AWNB290</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CustomPeripheral</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>8.8.8</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Broadcom Controller 0b05-1788</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>6024</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Broadcom Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Bluetooth USB Host Controller</string>
				<key>USB Vendor Name</key>
				<string>Apple Inc.</string>
				<key>bDeviceClass</key>
				<integer>255</integer>
				<key>bcdDevice</key>
				<integer>34</integer>
				<key>iSerialNumber</key>
				<integer>0</integer>
				<key>idProduct</key>
				<integer>33423</integer>
				<key>idVendor</key>
				<integer>1452</integer>
				<key>non-removable</key>
				<string>yes</string>
			</dict>
			<key>idProduct</key>
			<integer>6024</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Broadcom Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>bcdDevice</key>
				<integer>34</integer>
				<key>idProduct</key>
				<integer>33423</integer>
				<key>idVendor</key>
				<integer>1452</integer>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<string>*</string>
			<key>idProduct</key>
			<integer>6024</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Asus Controller 0b05-178a</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>6026</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Asus Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Bluetooth USB Host Controller</string>
				<key>USB Vendor Name</key>
				<string>Apple Inc.</string>
				<key>bDeviceClass</key>
				<integer>255</integer>
				<key>bcdDevice</key>
				<integer>34</integer>
				<key>iSerialNumber</key>
				<integer>0</integer>
				<key>idProduct</key>
				<integer>33423</integer>
				<key>idVendor</key>
				<integer>1452</integer>
				<key>non-removable</key>
				<string>yes</string>
			</dict>
			<key>idProduct</key>
			<integer>6026</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Asus Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>bcdDevice</key>
				<integer>34</integer>
				<key>idProduct</key>
				<integer>33423</integer>
				<key>idVendor</key>
				<integer>1452</integer>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<string>*</string>
			<key>idProduct</key>
			<integer>6026</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Generic Controller 0a5c-217d</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8573</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Generic Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Bluetooth USB Host Controller</string>
				<key>USB Vendor Name</key>
				<string>Apple Inc.</string>
				<key>bDeviceClass</key>
				<integer>255</integer>
				<key>bcdDevice</key>
				<integer>34</integer>
				<key>iSerialNumber</key>
				<integer>0</integer>
				<key>idProduct</key>
				<integer>33423</integer>
				<key>idVendor</key>
				<integer>1452</integer>
				<key>non-removable</key>
				<string>yes</string>
			</dict>
			<key>idProduct</key>
			<integer>8573</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Generic Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>bcdDevice</key>
				<integer>34</integer>
				<key>idProduct</key>
				<integer>33423</integer>
				<key>idVendor</key>
				<integer>1452</integer>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<string>*</string>
			<key>idProduct</key>
			<integer>8573</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
